@import url("https://fonts.googleapis.com/css2?family=Exo+2:display=swap");

.font-exo {
  font-family: "Exo 2", sans-serif;
}

.middle-screen{
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto;
}
